<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input id="email" type="email" [formControl]="form.controls.email" />
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" />
    </div>
    @if (emailIsInvalid) {
    <p class="control-error">Please enter a valid email adress.</p>
    } @if (passwordIsInvalid) {
    <p class="control-error">
      Must be contain question mark and at leats 6 characters.
    </p>
    }

    <button class="button">Login</button>
  </div>
</form>
